<h1> My Tiny App </h1>

<% if (user != null) { %>
    <form method="POST" action="/logout">
        <button type="submit" class="btn btn-primary"> Sign Out </button>
        <p> You are signed in as <%= user.email %> </p>
        <a href = "/urls/new"> Create New TinyURL </a>
    </form>
    <% } else { %>    
    <div>
        <a class="form-inline" href = "/register">   Register  </a>
        <a class="form-inline" href = "/login">   Login  </a>
    </div>
    <% } %>


